<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application name="CentralServer">
			<client>
				<wellknown type="IOrder_Info, Common"
						   url="tcp://localhost:999/CentralServer/OrderServer" />
			</client>
		</application>
	</system.runtime.remoting>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>